/*tarje del menú: Proyectos*/

#menu-proyectos {
    scale: 1.15;
    background-color: rgb(218, 216, 216);
}

#menu-proyectos:hover {
    width: 70px;
    cursor:auto ;
}

#menu-proyectos:hover p {
    display: none;
}

/*Media Query para el responsive en tamaño celular*/

@media only screen and (max-width: 500px)  {

    #menu-proyectos:hover p {
        display: block;
    
    }

}