<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="../HomeCSS/home.css">
    <title>Home</title>
</head>
<body class="display-vertical-between">
    <nav class="d-flex justify-content-between w-100 p-3 ">
        <p id="titulo-app">Rekord</p>
        <div id="logout" class="display-vertical-around alineado-vertical">
            <a href=""><img src="/Images/logout_2.png" id="icono-logout"></a>
            <p class="texto-fuente-playwrite">LogOut</p>
        </div>
    </nav>

    
    <main class="h-100 display-vertical-center">
        <div id="info-Admin" class="display-vertical-center">
            <img id="foto-perfil" src="/Images/perfil.jpeg" alt="">
            <p class="texto-fuente-playwrite nombre">Carlos Jhoan Aguilar</p>
            <p class="texto-fuente-playwrite">Project Manager</p>
        </div>
        <menu class="d-flex flex-wrap justify-content-center">
            <div id="bot-proyectos" class="display-vertical-around tarjeta-item">
                <img src="/Images/project_2.png" alt="" id="icono-proyectos">
                <p class="texto-fuente-playwrite letra-bold">Proyectos</p>
            </div>
            <div id="bot-mi-team" class="display-vertical-around tarjeta-item">
                <img src="/Images/team.png" alt="" id="icono-mi-team" >
                <p class="texto-fuente-playwrite letra-bold">Mi Team</p>
            </div>
           
        </menu>
    </main>
    <footer class="texto-fuente-playwrite letra-bold"><em>By </em>Kks-Tech</footer>

    <!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>

</body>
</html>